.milestones{
  width: 20vw;
  margin: 2%;
  display: block;
  color: rgba(253, 235, 1, 0.99);
  border: gold 3px solid;
  border-radius: 15%;
  background-color: rgba(21, 20, 20, 0.6);
  h3{
    margin: 0.2%;
    text-align: center;
  }
  ul{
    text-align: left;
    list-style-position: inside;
  }
}

.milestonesTitle{
  text-align: center;
  text-decoration: underline;


}