.explained{
  width: 35vw;
  margin-top: 2%;
  margin-left: 32vw;
  font-size: medium;
  color: rgba(253, 235, 1, 0.99);
  display: block;
  border: gold 3px solid;
  border-radius: 15%;
  background-color: rgba(21, 20, 20, 0.6);
}
.explained h2{
  text-align: center;
  text-decoration: underline;
  margin: 1%;
}

.explained h3{
  text-align: center;
}

.bonus{
  color: cyan;
}